@import "mixins";
@import "variables";
@import "buttons";

ul {
  margin-left: 1em;
}

#solr-search-form {
  overflow: hidden;
  box-sizing: border-box;

  span.float-wrap {
    display: block;
    padding-right: 10px;
    overflow: hidden;

    input[type="text"] {
      width: 100%;
    }

  }

  input[type="submit"] {
    float: right;
  }

}

#solr-applied-facets {

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline;

      &+li:before {
        content: "· "
      }

    }

  }

}

#solr-facets {
  	width: 20%;
  	float: left;
	background-color: #eee;
	padding: 1em 1%;
	border-right: 1px solid #bbb;


}

#solr-facets ul {
                list-style: none;
                margin-left: 0;
}
 
#solr-facets ul li {
    margin-bottom: .5em;
}
 
#solr-facets strong {
    border-bottom: 1px solid
    #000;
    display: block;
    margin-bottom: .75em;
}
 
.result {
    border-top: 1px solid
    #bbb;
}
 
@media screen and (max-width: 999px) {
                #solr-facets {
                width: 100%;
                float: none;
                }
}


#solr-results {
	margin-left: 2%;
	float: left;
  div.result {
    margin: 1em 0;

    a.result-title {
      font-weight: bold;
    }

    ul.hl {
      em {
        font-weight: bold;
      }
    }

    /*
     * .gallery img {
     *     height: 50px;
     * }
     */

  }

}
